@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap');

:root {
    --font: 'Roboto Slab', serif;
    --primary-color: #ffffff;
    --secondary-color: #000000;
}

*, *::before, *::after {
    font-family: var(--font);
}


